body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 911px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px 120px 80px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-self: end;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.poster {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex: 1 1 auto;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 120px 80px;
    align-items: center;
}

img {
    width: 300px;
    flex: 1 1 auto;
    max-width: 416px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.line {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 8px 3px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.featuresline {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 60px;
}

.imgfeature {
    max-width: 200px;
    min-width: 120px;
    border: 3px solid #6a94d6;
    border-radius: 10px;
}

.txtfeature {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
    max-width: 200px;
    min-width: 120px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 120px 180px 100px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.quote {
    color: #1F2937;
    font-size: 24px;
    font-style: italic;
    font-weight: 350;
}

.author {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;
    max-width: 730px;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.calltoaction button {
    border: 2px solid white;
}

.firstp {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.secondp {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    margin-top: 120px;
    text-align: center;
    padding: 40px;
}